# Node.js runtime environment
node_modules/

# Environment variables file
.env

# Logs
logs/
*.log

# IDE and editor files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Production build output
/build/

# Other build and configuration files
.DS_Store
*.bak
*.swp
*.swo
*.out
*.pid
*.seed
*.pid.lock

# Optionally include any other files or directories specific to your project or development environment.
